# General R bits that no one wants
.Rproj.user
.Rhistory
.RData
.Ruserdata

# python environment
env/

# directory paths that are created in this workflow that we don't need to track
a_Calculate_Centers/mid/*
a_Calculate_Centers/out/*
a_Calculate_Centers/nhd/*
!a_Calculate_Centers/out/combined_poi_drive_ids.csv

b_pull_Landsat_SRST_poi/mid/*
b_pull_Landsat_SRST_poi/out/*
#track drive ids in b group
!b_pull_Landsat_SRST_poi/out/yml_drive_ids.csv

c_collate_Landsat_data/down/*
c_collate_Landsat_data/mid/*

d_qa_filter_calc_handoff/mid/*
d_qa_filter_calc_handoff/out/*

e_collate_sort_qa_data/out/*

# stupid .DS_Store files
**.DS_Store

# _targets directory
_targets/

# bookdown images (these are duplicated in docs)
bookdown/images/*
bookdown/AquaMatch_lakeSR_files/*

# scratch files
scratch/
