# General R bits that no one wants
.Rproj.user
.Rhistory
.RData
.Ruserdata

# python environment
env/

# directory paths that are created in this workflow that we don't need to track
a_Calculate_Centers/mid/*
a_Calculate_Centers/out/*
a_Calculate_Centers/nhd/*
a_Calculate_Centers/multisurface/*

b_pull_Landsat_SRST_poi/in/*
b_pull_Landsat_SRST_poi/out/*

# stupid .DS_Store files
**.DS_Store